*{
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  margin:0;
  background:#0f172a;
  color:#fff;
}

.hidden{display:none}

#auth{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:12px;
}

#auth input, button{
  padding:12px;
  border-radius:12px;
  border:none;
  width:260px;
}

button{
  background:#6366f1;
  color:white;
  font-size:16px;
}

header{
  padding:14px;
  background:#020617;
  display:flex;
  gap:10px;
  align-items:center;
}

#users{
  padding:10px;
}

.user{
  padding:12px;
  background:#020617;
  margin-bottom:8px;
  border-radius:12px;
}

#chat{
  position:fixed;
  inset:0;
  background:#0f172a;
  display:flex;
  flex-direction:column;
}

#messages{
  flex:1;
  padding:10px;
  overflow-y:auto;
}

.msg{
  background:#020617;
  padding:8px 12px;
  border-radius:12px;
  margin-bottom:6px;
  max-width:70%;
}

.me{
  margin-left:auto;
  background:#4f46e5;
}

#send{
  display:flex;
  gap:6px;
  padding:10px;
}

#send input{
  flex:1;
  padding:10px;
  border-radius:12px;
  border:none;
  }
